<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Application Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/general.css') }}">
</head>
<body>
    <h1>Welcome to the Employee Application Home Page</h1>
    <nav>
        <a href ="{{ url_for('login') }}">Login</a>
        <a href ="{{ url_for('create_account') }}">Create Account</a>
    </nav>
</body>
</html>